$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
body {
  margin:0;
}
ul.navbar-nav {
  max-width: 2750px;

}
div.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.65);
}
.navbar {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  display:flex;
  align-items:center;
  height: 125px;
}
nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
nav::-webkit-scrollbar {
    width: 1em;
}
nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

nav::-webkit-scrollbar-thumb {
  background-color: rgb(140, 138, 253);
  outline: 1px solid slategrey;
}
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar {
    width: 1em;
}
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

nav::-webkit-scrollbar-thumb {
  background-color: rgb(140, 138, 253);
  outline: 1px solid slategrey;
}
.navbar-button {
  margin: auto;
}
ul {
  list-style-type: none;
}
.page-heading {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(140, 138, 253);
}
.list-body {
  background-color: rgba(0, 0, 0, 0.65);
  color: gray;
  margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}
.list-heading {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: gray;
}
.container-fluid {
  background-image: url('https://img.huffingtonpost.com/asset/scalefit_970_noupscale/585be1aa1600002400bdf2a6.jpeg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#show-profile-total {
  display: none;
}
#heading {
  text-align: center;
  font-size: 8vw;
}
#prompt {
  text-align: center;
  font-size: 6vw;
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(140, 138, 253);
  height: 20vw;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-line;
}
@media (min-width: 768px) {
  button#menu-button {
    display: none;
  }
}
