$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
body {
  margin:0;
}
.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  display:flex;
  align-items:center;
}
.navbar-button {
  margin: auto;
}
ul {
  list-style-type: none;
}
.page-heading {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(140, 138, 253);
}
.list-body {
  background-color: rgba(0, 0, 0, 0.65);
  color: gray;
  margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}
.list-heading {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: gray;
}
.container-fluid {
  background-image: url('http://img.huffingtonpost.com/asset/scalefit_970_noupscale/585be1aa1600002400bdf2a6.jpeg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.myButton {
    background: url('/assets/styles/food-icon.png');
    width: 60px;
    height: 60px;
    border: none;
    opacity: 0.65;
}
#navbarSupportedContent {
  width: 50%;
}
#heading {
  text-align: center;
}
#prompt {
  text-align: center;
  font-size: 6vw;
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(140, 138, 253);
  height: 20vw;
  overflow: hidden;
  white-space: pre-line;
}
div {
  overflow: hidden;
}
